button.btn {
  background-color: gray;
  border: 1px solid darkgray;
  color: white !important;
  padding: 0.5rem;
  font-size: 18px;
  margin-right: 0.5rem;

  &:hover {
    background-color: lightgray;
    color: darkgray !important;
  }
}
