:host {
  border: 2px solid grey;
  box-shadow: 3px 3px 4px #888888;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0;
  display: block;
  width: 200px;

  h2 {
    margin: 0;
    margin-bottom: 1rem;

    &:hover {
      background-color: purple;
    }
  }
}
