<h1>Stepper Component</h1>
<button (click)="toggle($event)">Toggle visibility of the first step</button>
<ts-stepper #stepper (finish-stepper)="finishStepper($event)">
  <ts-step *ngIf="toggleState" slot="step">
    <h2 class="step-one-heading">First Step</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Arcu felis bibendum ut tristique et egestas. Maecenas volutpat blandit aliquam etiam erat velit
      scelerisque. Quam pellentesque nec nam aliquam. Nunc mattis enim ut tellus. Ut enim blandit volutpat maecenas
      volutpat blandit aliquam etiam erat. Massa id neque aliquam vestibulum morbi blandit cursus. Senectus et netus et
      malesuada fames ac turpis. Sapien nec sagittis aliquam malesuada. Aliquam eleifend mi in nulla posuere. Commodo
      ullamcorper a lacus vestibulum sed arcu non odio euismod.
    </p>
    <p>
      Turpis in eu mi bibendum. Gravida rutrum quisque non tellus orci ac auctor augue. Suscipit tellus mauris a diam.
      Neque vitae tempus quam pellentesque nec nam aliquam. Iaculis eu non diam phasellus. Elit ut aliquam purus sit
      amet luctus venenatis. Orci a scelerisque purus semper eget duis at. Sollicitudin tempor id eu nisl nunc mi ipsum
      faucibus. Nulla at volutpat diam ut venenatis. Vel turpis nunc eget lorem dolor sed.
    </p>
  </ts-step>
  <ts-step slot="step">
    <h2>Second Step</h2>
    <img src="https://picsum.photos/200" />
  </ts-step>
  <ts-step slot="step"
    ><h2>Third Step</h2>
    <p>
      Turpis in eu mi bibendum. Gravida rutrum quisque non tellus orci ac auctor augue. Suscipit tellus mauris a diam.
      Neque vitae tempus quam pellentesque nec nam aliquam. Iaculis eu non diam phasellus. Elit ut aliquam purus sit
      amet luctus venenatis. Orci a scelerisque purus semper eget duis at. Sollicitudin tempor id eu nisl nunc mi ipsum
      faucibus. Nulla at volutpat diam ut venenatis. Vel turpis nunc eget lorem dolor sed.
    </p>

    <ul>
      <li>first step -> checked</li>
      <li>second step -> checked</li>
      <li>third step -> checked</li>
    </ul>
  </ts-step>
  <ts-step slot="step">
    <ts-step>
      <h2>4.1 Step</h2>
    </ts-step>
    <ts-step>
      <h2>4.2 Step</h2>
    </ts-step>
  </ts-step>
  <ts-step slot="step">
    <h2>5. Step -> Finish</h2>
    <button (click)="cancelStepper($event)">Cancel stepper from Angular scope</button>
  </ts-step>
</ts-stepper>

<ts-button text="Hello World"></ts-button>
<ts-button text="Hello World"></ts-button>
<ts-button-group></ts-button-group>
